/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

/**************************
Fonts
**************************/
@font-face {
    font-family: "RNS Sanz";
    src: url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.eot");
    src: url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.eot?#iefix") format("embedded-opentype"),
      url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.otf") format("opentype"),
      url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.svg") format("svg")
      url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.ttf") format("truetype"),
      url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.woff") format("woff"),
      url("../fonts/RBNo31/RNSSanz/RNSSanz-Normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "RBNo3.1";
    src: url("../fonts/RBNo31/RBNo31-Light.eot");
    src: url("../fonts/RBNo31/RBNo31-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/RBNo31/RBNo31-Light.otf") format("opentype"), 
      url("../fonts/RBNo31/RBNo31-Light.svg") format("svg"),
      url("../fonts/RBNo31/RBNo31-Light.ttf") format("truetype"),
      url("../fonts/RBNo31/RBNo31-Light.woff") format("woff"), 
      url("../fonts/RBNo31/RBNo31-Light.woff2") format("woff2"); 
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "RBNo3.1";
    src: url("../fonts/RBNo31/RBNo31-Book.eot");
    src: url("../fonts/RBNo31/RBNo31-Book.eot?#iefix") format("embedded-opentype"),
      url("../fonts/RBNo31/RBNo31-Book.otf") format("opentype"),
      url("../fonts/RBNo31/RBNo31-Book.svg") format("svg"),
      url("../fonts/RBNo31/RBNo31-Book.ttf") format("truetype"),
      url("../fonts/RBNo31/RBNo31-Book.woff") format("woff"),
      url("../fonts/RBNo31/RBNo31-Book.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "RBNo3.1";
    src: url("../fonts/RBNo31/RBNo31-Bold.eot");
    src: url("../fonts/RBNo31/RBNo31-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/RBNo31/RBNo31-Bold.otf") format("opentype"),
      url("../fonts/RBNo31/RBNo31-Bold.svg") format("svg"),
      url("../fonts/RBNo31/RBNo31-Bold.ttf") format("truetype"),
      url("../fonts/RBNo31/RBNo31-Bold.woff") format("woff"),
      url("../fonts/RBNo31/RBNo31-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
/**************************
Variable
**************************/
:root {
    --primary-color: #686868;
    --secondary-color: #d50613;
    --tertiary-color: #333;
    --quaternary-color: #282d31;
    --quinary-color: #5b5b5b;
    --senary-color:: #bdc3c7;


    --color-black: #000;
    --color-white: #FFF;

    --transition-t2s-all: all 0.2s ease-in-out 0s;
    --transition-t3s-all: all 0.3s ease-in-out 0s;
}
/**************************
Typography
**************************/
html {
    font-size: 16px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "RNS Sanz";
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-color);
}
h1 {
    font-size: 45px;
    line-height: 52px;
}
h2 {
    font-size: 36px;
    line-height: 43px;
}
h3 {
    font-size: 21px;
    line-height: 25px;
}
h4 {
    font-size: 20px;
    line-height: 24px;
}
h5 {
    font-size: 18px;
    line-height: 21px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    padding-top: 0;
    margin-top: 0;
}
p {
    line-height: 26px;
    margin-bottom: 22px;
}
b,strong {
    color: inherit;
    font-weight: 700;
}
a {
    color: inherit;
    font-family: "RBNo3.1";
    font-weight: 300;
    text-decoration: none;
    transition: var(--transition-tss-all);
}
a:hover, a:active, a:visited {
    /* color: greenyellow; */
    outline: 0;
}
/**************************
General
**************************/
*,
*:after,
*::after,
*:before,
*::before {
    box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
ul,
ol {
  list-style-type: none;

  padding: 0;
  margin: 22px 0 22px 0;
}
li {
  color: var(--primary-color);
  line-height: 1;
  margin-bottom: 12px;
}
hr {
  background-color: var(--primary-color);
  border: 0;
  height: 1px;
}
button:focus {
  outline: none;
}
.main-container {
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.main-container-small {
    max-width: 1160px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.padding-top {
    padding-top: 89px;
}
/*==================
btn
===================*/
.btn {
    background-color: var(--secondary-color);
    color: var(--color-white);
    display: inline-block;
    padding: 14px 67px;
    transform: skew(-15deg);
}
.btn em {
    display: inline-block;
    font-style: normal;
    text-transform: uppercase;
    transform: skew(15deg);
}
/*==================
btn play
===================*/
.btn-play {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  border: 2px solid #d50613;
  margin-bottom: 18px;
  transition: var(--transition-t2s-all);
}
.btn-play:hover {
  transform: scale(1.2);
}
.btn-play i {
  color: var(--color-white);
  font-size: 12px;
  line-height: 53px;
  position: relative;
  z-index: 3;
}
.btn-play:before {
  content: "";
  background-color:  var(--secondary-color);
  display: inline-block;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*==================
card
===================*/
.card-solpack {
    display: inline-block;
    width: 330px;
    box-shadow: 0 0.15rem 0.5rem rgba(0,0,0,.15);
    margin-bottom: 80px;

    position: relative;
}
.card-solpack:hover h4 {
    color: var(--secondary-color);
    transition: var(--transition-t2s-all);
}
.card-solpack:hover em {
    color: var(--secondary-color);
}
.card-solpack:hover img {
  transform: scale(1.2);
}
.card-solpack figure {
    overflow: hidden;
    position: relative;
}
.card-solpack figure img {
  display: block;
  transition: var(--transition-t3s-all);
}
.card-solpack small {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--color-white);
    font-family: "RNS Sanz";
    font-size: 16px;
    padding: 8px 16px;
    margin: 0;
    position: absolute;
    top: -32px;
    left: 0;
}
.card-solpack small:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 20px solid #d50613;
    border-top: 32px solid transparent;
    border-bottom: 0 solid transparent;
}
.card-solpack div {
    padding: 32px
}
.card-solpack h4 {
  color: var(--tertiary-color);
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
.card-solpack div p {
  font-size: 12px;
  line-height: 1;
  margin: 8px 0;
}
.card-solpack em {
  color: var(--secondary-color);
  font-size: 17px;
  font-style: normal;
  text-transform: uppercase;
}
/*==================
title
===================*/
.title {
    text-align: center;
}
.title em {
    color: var(--color-white);
    font-family: "RBNo3.1";
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.title h3{
    color: var(--color-white);
    font-family: "RBNo3.1";
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
}
.title.black {
  text-align: left;
}
.title.black em,
.title.black h3 {
    color: var(--tertiary-color);
}
.title.black h3 {
  margin-top: 8px;
}
/*==================
selection
===================*/
::-moz-selection {
    color: yellowgreen;
}
::selection {
    color: yellowgreen;
}
/*==================
scrollbar
===================*/
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}
/**************************
Style
**************************/
/*********************
Header
*********************/
.main-header {
    background-color: var(--color-white);
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 89px;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    display: inline-block;
    padding-right: 36px;
    margin-right: 36px;
    position: relative;
}
.logo:after {
    content: "";
    display: inline-block;
    background-color: var(--secondary-color);
    width: 2px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.logo img {
    display: block;
    height: 38px;
}
.menu ul {
    display: flex;
    margin: 0;
}
.menu li {
    margin-bottom: 0;
}
.menu li:not(:last-child) {
    margin-right: 32px;
}
.menu a {
    color: var(--quinary-color);
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
}
/*********************
Blog-hero
*********************/
.main-blog-hero {
    background-image: url(../images/test-blog-hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.blog-hero {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 530px;
}
.main-blog-last-news {
  margin-top: -64px;
}
/* Tabs blog */
.nav-blog {
  margin-bottom: 80px;
}
.nav-blog ul {
  display: flex;
  align-items: center;
  margin: 0;
}
.nav-blog li {
  line-height: 22px;
  margin-bottom: 0;
}
.nav-blog li:not(:last-child) {
  padding-right: 16px;
  margin-right: 16px;

  position: relative;
}
.nav-blog li:not(:last-child):after {
  content: "";
  display: inline-block;
  background-color: var(--quinary-color);
  width: 1px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.nav-blog a {
  font-size: 17px;
}
.nav-blog a.active {
  color: var(--secondary-color);
}
[class^="b-"] {
  display: none;
}
[class^="b-"].current {
  display: block;
}
/* Grid Blog */
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid a {
  width: 330px;
  margin-right: 70px;
}
.grid a:nth-child(3n+3) {
  margin-right: 0;
}
/*********************
About Us
*********************/
.main-about-us-hero {
  background-image: url(../images/test-about-us-hero-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 -410px 410px #fff;
}
.about-us-hero {
  margin-bottom: 80px;
}
.about-us-hero .description {
  display: flex;
  margin-top: 32px;
}
.about-us-hero .description p {
  line-height: 21px;
}
.about-us-hero .description-top {
  padding-top: 160px;
}
.about-us-hero .description-left,
.about-us-hero .description-right {
  width: 50%;
}
.about-us-hero .description-left {
  padding-right: 15px;
}
.about-us-hero .description-right {
  padding-left: 15px;
}
.about-us-vision-mission-top {
  max-width: 665px;
  margin: 0 auto
}
.about-us-vision-mission-top .title {
  margin-bottom: 48px;
}
.main-about-us-vision-mission {
  background-color: var(--secondary-color);
}
.about-us-vision-mission {
  padding-top: 64px;
}
.about-us-vision-mission-top .mision,
.about-us-vision-mission-top .vission {
  display: flex;
  align-items: flex-start;
}
.about-us-vision-mission-top .vission {
  margin-top: 48px;
}
.about-us-vision-mission-top p,
.about-us-vision-mission-top li {
  color: var(--color-white);
}
.about-us-vision-mission-top .mision h4,
.about-us-vision-mission-top .vission h4 {
  color: var(--color-white);
  font-family: "RBNo3.1";
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 32px;
  min-width: 159px;
}
.about-us-vision-mission-top .mision div,
.about-us-vision-mission-top .vission div {
  padding-left: 32px;
  border-left: 2px solid var(--color-white);
  position: relative;
}
.about-us-vision-mission-top .mision div p,
.about-us-vision-mission-top .vission div p {
  line-height: 21px;
   margin: 0;
}
.about-us-vision-mission-top ul {
  margin: 0;
}
.about-us-vision-mission-top li {
  line-height: 21px;
  margin-bottom: 0;
  padding-left: 16px;

  position: relative;
}
.about-us-vision-mission-top li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.about-us-commitment-integrity-top img {
  display: block;
  margin: 0 auto;
}
.about-us-commitment-integrity-top .title.black {
  text-align: center;
}
.about-us-commitment-integrity-bottom {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
}
/* card about us */
.card-about-us {
  display: flex;
}
.card-about-us figure {
  padding-right: 16px;
}
.card-about-us h5 {
  color: var(--secondary-color);
  font-family: "RBNo3.1";
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}
/*********************
Footer
*********************/
.footer {
    display: flex;
}
.footer-content {
    width: 50%;
}
.footer > div:nth-child(1) {
    background-color: var(--secondary-color);
}
.footer > div:nth-child(2) {
    background-color: var(--tertiary-color);
}
.footer > div:nth-child(1) .content,
.footer > div:nth-child(2) .content {
    max-width: 720px;
}
.footer > div:nth-child(1) .content {
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: 15px;
    padding-right: 90px;
}
.footer > div:nth-child(2) .content {
    display: flex;
    justify-content: space-between;

    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-right: 15px;
    padding-left: 90px;
}
.footer > div:nth-child(1) li {
    line-height: 24px;
}
.footer > div:nth-child(1) li a {
    transition: var(--transition-t2s-all);
}
.footer > div:nth-child(1) li a:hover {
    color: var(--senary-color);
}
.footer > div:nth-child(2) li a {
    font-size: 18px;
    font-weight: 700;
    transition: var(--transition-t2s-all);
}
.footer > div:nth-child(2) li a:hover {
    color: var(--secondary-color);
}
.footer .content a,
.footer .content h5 {
    color: var(--color-white);
}
.footer .content ul {
    margin: 0;
}
.footer h6 {
    color: var(--color-white);
    font-family: "RBNo3.1";
    line-height: 21px;
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.footer .social-network {
    display: flex;
    align-items: center;
}
.footer .social-network h6 {
    margin-bottom: 0;
}
.footer .social-network ul {
    display: flex;
}
.footer .social-network li {
    margin-bottom: 0;
    margin-left: 8px;
}
.footer .social-network a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    transition: var(--transition-t2s-all);
}
.footer .social-network a:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.footer .social-network i {
    font-size: 14px;
    line-height: 28px;
}