footer{
    background: url("../front/images/bg-footer.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-position-x: 100%;
}

footer .container-footer{
    padding: 20px 10%;
}

footer .container-footer .row .columnFooter{
    height: 100%;
}
footer .container-footer .row .columnFooter .coreInvite .tellUs p{
    color: $blanco;
    text-align: center;
    font: 24px "gotham-bold";
}
footer .container-footer .row .columnFooter .coreInvite .tellUs p:first-child{
    width: 100%;
}
footer .container-footer .row .columnFooter .coreInvite .tellUs a{
    color: $rojo;
    font: 25px "gotham-bold";
    text-align: center;
    display: block;
    text-decoration: underline;
}


footer .container-footer .row .columnFooter .coreInvite {
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    
}

footer .container-footer .row .columnFooter .coreInvite .columnRRss{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}

footer .container-footer .row .columnFooter .coreInvite .columnRRss {
    width: 100% ;
    text-align: center;
}
footer .container-footer .row .columnFooter .coreInvite .columnRRss {
    margin-top: 20px;
}
footer .container-footer .row .columnFooter .coreInvite .columnRRss .copy{
    margin-top: 20px;
}
footer .container-footer .row .columnFooter .coreInvite .columnRRss .rrss a{
    display: inline-block;
}
footer .container-footer .row .columnFooter .coreInvite .columnRRss .copy p{
    font: 11px "gotham-book";
    text-align: center;
    width: 100%;
    color: $blanco;
    margin: 0
}
footer .container-footer .row .columnFooter .coreInvite .columnRRss .copy p span{
    font: 12px "gotham-bold";
    color: $blanco;
}
@media screen and (min-width: 992px){
    footer .container-footer .row .columnFooter .coreInvite .columnRRss {
        text-align: right;
    }
    footer .container-footer .row{
        margin: 0;
        height: 100%;
    }
    footer .container-footer .row .columnFooter .coreInvite .columnRRss .copy p{
        font: 13px "gotham-book";
        text-align: right;
    }
    footer .container-footer .row .columnFooter .coreInvite .columnRRss {
        margin-top: 0;
    }
    footer .container .row .columnFooter .coreInvite .tellUs, footer .container-footer .row .columnFooter .coreInvite .columnRRss{
        height: 116px;
    }
    footer{
        background: url("../front/images/bg-footer.jpg");
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $gris;
        background-position-x: 75%;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs{
        width: 100%;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs p{
        font: 29px "gotham-bold";
        text-align: left;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs p:first-child{
        width: 100%;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs a{
        font: 29px "gotham-bold";
        text-align: left;
    }
    footer .container-footer{
        padding: 0 10%;
        height: 100%;
    }
}
@media screen and (min-width: 1200px){
    footer .container-footer .row .columnFooter .coreInvite .tellUs{
        width: auto;
    }
    footer .container-footer .row .columnFooter .coreInvite .columnRRss {
        text-align: right;
    }
    footer .container-footer .row{
        margin: 0;
        height: 100%;
    }
    footer .container-footer .row .columnFooter .coreInvite .columnRRss .copy p{
        font: 13px "gotham-book";
        text-align: right;
    }
    footer .container-footer .row .columnFooter .coreInvite .columnRRss {
        margin-top: 0;
    }
    footer .container .row .columnFooter .coreInvite .tellUs, footer .container-footer .row .columnFooter .coreInvite .columnRRss{
        height: 174px;
    }
    footer{
        background: url("../front/images/bg-footer.jpg");
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $gris;
        background-position-x: initial;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs p{
        font: 44px "gotham-bold";
        text-align: left;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs p:first-child{
        width: 420px;
    }
    footer .container-footer .row .columnFooter .coreInvite .tellUs a{
        font: 44px "gotham-bold";
        text-align: left;
    }
    footer .container-footer{
        padding: 0 10%;
        height: 100%;
    }
}
@media screen and (min-width: 1800px){
    footer{
        background-size: cover;
    }
    
}