body {
    background-color: red;
}
.menuDesktop{
    display: none;
}
.menuMobile{
    display: block;
    position: fixed;
    z-index: 99999;
    background: $blanco;
    width: 100%;
}
.menuMobile .headerMobile{
    display: flex;
    padding: 20px 5%;
    height: 90px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.menuMobile .headerMobile .columnMm{
    width: 35%;
}
.menuMobile .headerMobile .columnMm #nav-icon{
    width: 100%;
    height: 33px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menuMobile .headerMobile .columnMm .open span:nth-child(1) {
    display: none !important
}

.menuMobile .headerMobile .columnMm .open span:nth-child(2) {
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important
}

.menuMobile .headerMobile .columnMm .open span:nth-child(3) {
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important
}

.menuMobile .headerMobile .columnMm .open span:nth-child(4) {
    display: none !important
}

.menuMobile .headerMobile .columnMm #nav-icon span:nth-child(1){
    top: 0px;
}
.menuMobile .headerMobile .columnMm #nav-icon span:nth-child(2){
    top: 10px;
}
.menuMobile .headerMobile .columnMm #nav-icon span:nth-child(3){
    top: 10px;
}
.menuMobile .headerMobile .columnMm #nav-icon span:nth-child(4){
    top: 21px;
}
.menuMobile .headerMobile .columnMm #nav-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 35px;
    background: #dc0613;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menuMobile .headerMobile .columnMm a{
    display: block;
}
.menuMobile .headerMobile .columnMm a img{
    width: 130px;
}
.menuMobile .headerMobile .columnMm:nth-child(1){
    width: 65%;
}
.menuMobile nav{
    width: 100%;
    background: #dc0613;
    padding: 0 15px;
    position: fixed;
    z-index: 99;
    left: -101%;
    height: calc(100% - 90px);
    transition: .5s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuMobile .innerList{
    left: 0;
}

.menuMobile nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuMobile nav ul li{
    text-align: center;
    margin-bottom: 20px;
}
.menuMobile nav ul li a {
    color: $blanco;
    font: 1.8rem "gotham-medium";
    line-height: 1.2em;
}
.menuMobile nav ul li .active {
    color: #fff;
}
.bg-section{
    position: absolute;
    top: 137px;
    left: -170px;
}
.bg-section img{
    height: 200px;
}
.nameSection{
    padding-top: 109px;
}
.nameSection h1{
    color: rgba( 40, 40, 40, .05);
    font: 40px "gotham-bold";
    text-align: right;
    margin: 0
}

@media screen and (min-width: 768px){
    .bg-section img{
        height: 225px;
    }
    .nameSection h1{
        font: 45px "gotham-bold";
    }
}
@media screen and (min-width: 992px){
    .menuDesktop{
        width: 390px;
        display: block;
    }
    .menuDesktop .containerHeader{
        display: flex;
        flex-flow: row wrap;
        height: 147px;
        width: 440px;
    }
    .menuDesktop .containerHeader .column:first-child{
        background: $rojo;
        width: 140px;
    }
    .menuDesktop .containerHeader .column{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 300px;
        background: $blanco;
    }
    .menuDesktop .containerHeader .column span{
        font: 12.5px "gotham-book";
        color: $blanco
    }
    .menuDesktop .containerHeader .column:first-child{
        display: flex;
        flex-flow: column wrap;
    }
    .menuDesktop .containerHeader .column img{
        height: 90px;
    }
    .menuDesktop .containerHeader .column button.burger {
        width: 50px;
        height: 30px;
        border: none;
        background: transparent;
        position: relative;
        cursor: pointer;
        margin: 0 0 13px 0;
    }
    .menuDesktop .containerHeader .column button.burger:focus {
        outline: none;
    }
    .menuDesktop .containerHeader .column button.burger.burger3:after, button.burger.burger3:before, button.burger.burger3 span {
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0px;
        background: $blanco;
        transform: rotate(0deg);
        transition: all 0.4s;
    }
    .menuDesktop .containerHeader .column button.burger.burger3:after, button.burger.burger3:before {
        content: "";
    }
    .menuDesktop .containerHeader .column button.burger.burger3:after {
        top: 0px;
        margin-top: 0px;
    }
    .menuDesktop .containerHeader .column button.burger.burger3:before {
        bottom: 0px;
        margin-bottom: 0px;
    }
    .menuDesktop .containerHeader .column button.burger.burger3 span {
        top: 50%;
        margin-top: -2px;
    }
    .menuDesktop .containerHeader .column button.burger.burger3.on:after {
        transform: rotate(135deg) translate(9px, -9px);
    }
    .menuDesktop .containerHeader .column button.burger.burger3.on:before {
        transform: rotate(225deg);
        bottom: 50%;
        margin-bottom: -2px;
    }
    .menuDesktop .containerHeader .column button.burger.burger3.on span {
        transform: rotate(135deg);
    }
    .containerMenu{
        display: flex;
        height: 100%;
        flex-flow: row wrap;
        position: fixed;
        left: -100%;
        transition: 1s all ease;
        width: 100%;
        top:0;
        z-index: 9;
    }
    .containerMenu .columnMenu{
        position: relative;
        width: 65%;
        background: url("../front/images/bg-menu.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .containerMenu .columnMenu .containerNav .menuFooter{
        position: absolute;
        bottom: 8%;
    }
    .containerMenu .columnMenu .containerNav nav ul li{
        margin-bottom: 20px;
    }
    .containerMenu .columnMenu .containerNav nav ul li:last-child{
        margin-bottom: 0;
    }
    .containerMenu .columnMenu .containerNav .menuFooter nav ul{
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .containerMenu .columnMenu .containerNav .menuFooter nav ul li{
        display: inline-block;
        margin-right: 40px;
    }
    .containerMenu .columnMenu .containerNav .menuFooter nav ul li:last-child{
        margin-right: 0;
    }
    .containerMenu .columnMenu .containerNav .menuFooter nav ul li a{
        color: $blanco;
        font: 22px "gotham-medium"
    }
    .containerMenu .columnMenu .containerNav .menuFooter nav ul li a:hover{
        text-decoration: underline;
        margin: 0;
    }
    .containerMenu .columnMenu .containerNav .menuFooter nav ul li a:hover:after{
        content: initial;
    }
    .containerMenu .columnMenu .containerNav{
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding-left: 120px;
    }
    .containerMenu .columnMenu .containerNav nav ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .containerMenu .columnMenu .containerNav nav ul li a{
        color: #8d0015;
        font: 60px "gotham-bold";
        transition: .5s all ease;
    }
    .containerMenu .columnMenu .containerNav nav ul li a:hover{
        color: $blanco;
        text-decoration: none;
        margin-left: 20px;
    }
    .containerMenu .columnMenu .containerNav nav ul li a:hover:after{
        content: ">";
        color: $blanco;
        font-size: 30px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    .containerMenu .columnMenu .containerNav nav ul li .active{
        color: $blanco;
        margin-left: 20px;
    
    }
    .containerMenu .columnMenu .containerNav nav ul li .active:after{
        content: ">";
        color: $blanco;
        font-size: 30px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    .containerMenu .columnMenu:first-child{
        width: 35%;
        background: $blanco;
        position: relative;
        padding: 0 60px;
    }
    .containerMenu .columnMenu .columnLeft{
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .containerMenu .columnMenu .columnLeft{
        position: relative;
    }
    .containerMenu .columnMenu .closeMenu{
        position: absolute;
        top: 5%;
    }
    .containerMenu .columnMenu .closeMenu a{
        width: 30px;
        height: 30px;
        display: block;
        
    }
    
    .containerMenu .columnMenu .columnLeft .rowLeft p{
        font: 27px "gotham-bold";
        color: $gris;
        margin: 0;
        width: auto;
        padding-top: 45px;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft a{
        color: $rojo;
        font: 27px "gotham-bold";
        margin-top: 20px;
        transition: .5s all ease;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft a:hover{
        text-decoration: none;
        color: #b80510;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft ul{
        margin: 0 0 0 16px;
        padding: 0 0 45px 0;
        list-style: none;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft:first-child{
        border-bottom: 1px solid #777778;
    }
    
    .containerMenu .columnMenu .columnLeft .rowLeft ul li{
        display: inline-block;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft ul li:first-child{
        margin-right: 10px;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft ul li a{
        display: block;
        width: 30px;
        height: 30px;
    }
    .menuMobile{
        display: none;
    }
    .bg-section img{
        height: 500px;
    }
    .bg-section{
        top: 175px;
        left: -410px;
    }
    .nameSection{
        padding-top: 0;
    }
    .nameSection h1{
        font: 65px "gotham-bold";
        text-align: right;
    }
}
@media screen and (min-width: 1200px){
    .containerMenu .columnMenu .columnLeft .rowLeft p{
        font: 32px "gotham-bold";
        color: $gris;
        margin: 0;
        width: 300px;
        padding-top: 45px;
    }
    .containerMenu .columnMenu .columnLeft .rowLeft a{
        color: $rojo;
        font: 32px "gotham-bold";
        margin-top: 20px;
        transition: .5s all ease;
    }
    .bg-section img{
        height: 600px;
    }
    .bg-section{
        left: -510px;
    }
    .nameSection h1{
        font: 80px "gotham-bold";
    }
}
@media screen and (min-width: 1400px){
    .nameSection h1 {
        font: 100px "gotham-bold";
    }
}